.footer-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .footer-logo .main {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  .footer-logo .slash {
    color: #f43f5e; /* Pinkish */
    font-weight: bold;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 0;
    margin: 60px 0;
    font-size: 1rem;
    font-weight: 500;
  }
  .footer-links a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    /* transform: translateY(0px); */
  }
  .footer-links a:hover {
    transform: scale(1.2);
    color: #f43f5e;
  }
  

  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  
  .footer-social svg {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .footer-social svg:hover {
    transform: scale(1.2);
    color: #f43f5e;
  }
  
  .footer-copy {
    font-size: 0.9rem;
    color: #555;
    margin: auto;
  }


  @media screen and (max-width: 500px) {
    .footer-links {
      gap: 30px;
      margin: 40px 0;
    }
  }
  